# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.chamber.iml
# Datasource local storage ignored files
/../../../../../../../:\Dev\Projects\chamber\.idea\.idea.chamber\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
